*{
    box-sizing: border-box;
}

.grid-container{
    display: flex;
    margin: auto;
    padding: 0;
    min-width: 0;
    max-height: 62rem;
    
    
}

.gridBox{
    border: 5px black solid;
    margin: auto;
    min-width: 0;
    max-height: 62rem;
}



.row{
    display: flex;
    
    
    
    
    
}

.column{
    background-color: rgb(199, 201, 204);
    height: 1rem;
    width: 1rem;
    
}

.no-select{
    user-select: none;
    
}

button{
    margin: 0px 20px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: medium;
}


  
  



/* @media only screen and (max-width: 768px){
    .row {
        flex-wrap: wrap;

    }

    .column {
        flex-basis: 100%;
    }
} */
