.grid-container{
    display: flex;
    border: 5px black solid;
    margin: 0 auto;
    padding: 0;
    width: 960px;
    height: 960px;
}

.gridBox{
    display: flex;
    flex-direction: column;
    border: 5px black solid;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    flex: 1;
}



.row{
    display: flex;
    
    
}

.column{
    background-color: rgb(199, 201, 204);
    width: 20px;
    height: 20px;
    flex: 1 1 1;
}

.no-select{
    user-select: none;
    
}

button{
    margin: 0px 20px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: medium;
}


  
  



/* @media only screen and (max-width: 768px){
    .row {
        flex-wrap: wrap;

    }

    .column {
        flex-basis: 100%;
    }
} */
